.form-container {
    width: 50%;
}

.form-container > form {
    display: grid;

    width: 100%;

    column-gap: 2rem;

    grid-template-areas:
        "sender-title sender-title sender-title recipient-title recipient-title recipient-title"
        "sender sender sender recipient recipient recipient"
        "message-title message-title message-title picture-title picture-title picture-title"
        "message message message picture picture picture"
        ". . send send . .";

    grid-template-columns: repeat(6, 1fr);
}

@media screen and (max-width: 1000px) {
    .form-container {
        width: 100%;
    }

    .form-container > form {
        grid-template-areas:
            "sender-title"
            "sender"
            "recipient-title"
            "recipient"
            "message-title"
            "message"
            "picture-title"
            "picture"
            "send";

        grid-template-columns: 1fr;
    }
}

.sender-title {
    grid-area: sender-title;
}

.recipient-title {
    grid-area: recipient-title;
}

.box {
    display: grid;

    gap: 1rem;

    grid-template-columns: 1fr 4fr;

    align-items: center;

    margin-bottom: 1rem;

    width: 100%;
}

.box.sender {
    grid-area: sender;
}

.box.recipient {
    grid-area: recipient;
}

.box > label {
    text-align: right;

    font-size: 1.3rem;
}

.box > legend {
    font-weight: bold;
}

.box > input {
    width: 100%;
    height: 50px;

    box-sizing: border-box;
}

.box > input:invalid {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: crimson;
}

.message-title {
    grid-area: message-title;
}

.message {
    grid-area: message;

    width: 100%;
}

.message > textarea {
    width: 100%;
    resize: vertical;

    box-sizing: border-box;
}

.picture-title {
    grid-area: picture-title;
}

.picture {
    grid-area: picture;
}

.picture > input {
    cursor: pointer;

    width: 100%;
}

.send {
    grid-area: send;

    margin-top: 2rem;
}

.send > input {
    cursor: pointer;

    font-size: 1.5rem !important;
}
